@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.7;
}

/* changes the pagination bullet color in the card components */
.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}

/* changes the swiper arrows */
:root {
  --swiper-navigation-size: 10px;
  --swiper-navigation-color: black;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 38%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  padding: 0.8rem;
  border: 1px solid rgb(0 0 0 / 0.3);
  border-radius: 100%;
  background-color: white;
  box-shadow: 5px;
  font-weight: 900;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0;
  right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}
.swiper-button-lock {
  display: none;
}

/* swiper listing pagination */

.swiper-pagination-fraction {
  bottom: 15px;
  left: 320px;
  width: 50px;
  background-color: rgb(25, 25, 25);
  opacity: 0.8;
  color: white;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 500;
}



/* range picker css */
/* hides the defined range */

.rdrDefinedRangesWrapper {
  display: none;
}

.rdrDateRangePickerWrapper{
display: flex;
justify-content: center;
}