@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

/* changes the pagination bullet color in the card components */
.swiper-pagination-bullet-active{
  background-color: white;
}